@font-face {
    font-family:'Caudex';
    src: url('/fonts/Caudex-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Caudex';
    src: url('/fonts/Caudex-Bold.ttf');
    font-weight: 700;
}